# Default ignored files
/../../../4. Projet 1 - Utiliser des images personalisées avec K8s localement/project/.idea/shelf/
/../../../4. Projet 1 - Utiliser des images personalisées avec K8s localement/project/.idea/workspace.xml
# Ignored default folder with query files
/../../../4. Projet 1 - Utiliser des images personalisées avec K8s localement/project/.idea/queries/
# Datasource local storage ignored files
/../../../4. Projet 1 - Utiliser des images personalisées avec K8s localement/project/.idea/dataSources/
/../../../4. Projet 1 - Utiliser des images personalisées avec K8s localement/project/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../4. Projet 1 - Utiliser des images personalisées avec K8s localement/project/.idea/httpRequests/
